* text=auto
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mp4 binary
*.mov binary
*.pdf binary
*.js text
*.jsx text
*.css text
*.scss text
*.json text
node_modules/**/* binary
package-lock.json text
yarn.lock text
*.js eol=lf
*.jsx eol=lf
*.css eol=lf
*.scss eol=lf
*.json eol=lf
*.md text
